/* Product Card */

.content-list {
    margin-top: 15%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background-image: url('./assets/background.png');
    
  }
  
  
  .conta{
    position: absolute;
    bottom:34rem;
    right:20rem;
  }
  
  .product-list {
    background-color: rgba(48, 49, 65, 0.8);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    padding: 50px; 
    width: 100%; 
    max-width: 1400px; 
    margin: 20px auto; 
    box-sizing: border-box; 
    height: 60rem;
  }
  
  
  
  .product-card {
    border: transparent;
    background-color: #353A4F; 
    color: white; 
    border-radius: 10px;
    padding: 1em;
    margin: 1em; 
    width: 11rem;
    height: 18rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    position: relative; 
    text-align: left;
    transition: transform 0.2s;
  }
  
  .badge {
    background-color: transparent;
    font-size: 8px; 
    color: #fff;
    padding: 0.5em;
    border-radius: 5px; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
  }
  
  .product-image {
    width: 100%; 
    border-radius: 5px; 
  }
  
  .product-title {
    margin: 0.5em 0; 
    font-weight: lighter;
  }
  
  .product-price {
    margin: 0.5em 0;
    font-weight: 600;  
  }
  
  .original-price {
    color: #ccc;
    font-weight: 600; 
  }
  
  .product-description {
    margin-bottom: 1em;
    font-size: 10px;
    color: #bebebe;
    font-weight: lighter;
  }
  
  .quantity-container {
    display: flex; 
    justify-content: flex-end; 
    margin-bottom: 1em; 
  }
  
  .quantity-input {
    width: 40px;
    height: 30px; 
    margin-right: 1em; 
    background-color: #4f516b4f;
    border: transparent;
    padding: 8px;
    border-radius: 5px; 
  }
  
  .quantity-input:focus{
    outline: none;
  }
  
  .stock-badge {
    padding: 0.5em; 
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    align-content:center ;
    width: 60px;
    height: 30px;
    font-size: 11px;
    position: absolute; 
    top: 39px; 
    left: 15px; 
  }
  
  .in-stock {
    background-color: transparent;
    border: 1px solid #32be86;
    color: #32be86; 
  }
  
  .out-of-stock {
    background-color: transparent;
    border: 1px solid #a80000;
    color: #a80000; 
  }
  
  .button-container {
    display: flex; 
    justify-content: space-between; 
  }
  
  .add-button, .details-button {
    padding: 0.5em 1em; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .add-button {
    background-color: #5762D5; 
    color: white; 
    width: 70px;
    font-size: 10px;
  }
  
  .add-button:focus{
    outline: none;
  }
  .details-button {
    background-color: #303141a0; 
    color: rgba(255, 255, 255, 0.518); 
    width: 70px;
    height: 30px;
    font-size: 10px;
  }
  .details-button:focus{
    outline: none;
  }
  .add-button:hover {
    background-color: #5762D5; 
  }
  
  .details-button:hover {
    background-color: #5a6268; 
  }
  
  /* Divider.jsx */
  
  .divider {
    background-color: #ccc; 
    flex-shrink: 0;
  }
  
  .horizontal {
    height: 1px; 
    width: 100%; 
    margin: 10px 0; 
  }
  
  .vertical {
    width: 1px; 
    height: 100%;
    margin: 0 10px; 
  }
  
  
  /* Select.jsx */
  
  .select-container {
    display: flex;
    align-items: center;
    margin-right: 10px; 
    background-color: #303141a0;
    padding: 5px;
    border-radius: 5px;
  }
  
  .select-icon {
    margin-right: 5px; 
  }
  
  .select {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    appearance: none; 
    background: transparent;
  }
  
  .select:focus{
      border: 1px solid transparent;
      outline: none;
  
  }
  
  .chevron-icon {
    margin-left: 5px;
  }
  
  
  
  /* Searchbar.jsx */
  
  .searchbar {
    position: absolute;
    top: 8%;
    width: 74%; 
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 13.23%; 
   
  }
  
  .searchbar-container {
    display: flex;
    align-items: center; 
    margin-top: 10px;
    gap: 10px;
    
  }
  
  .search-input {
    padding: 18px;
    margin-right: 10px; 
    border: 1px solid transparent;
    border-radius: 5px;
    flex: 1; 
    background-color: #303141a0;
    flex-wrap: wrap;
  }
  
  .search-input:focus {
    border: 1px solid transparent;
    outline: none;
  }
  


  .pagination-container{
    margin-top: -130px; 
    display: flex; 
    justify-content: center; 
    width: 100%; 
  }


  .page-button1{
    border: 2px solid #5762D5;
    border-radius: 7px;
    background-color: transparent;
  }
  .page-button{
    background-color: transparent;
    outline: none;
    border-radius: 7px;

  }

  .page-button:focus{
    border: 1px solid #5762D5;
    background-color: #5762D5;
    outline: none;
    border-radius: 7px;

  }