/* NavBar and Footer */


/* NavBar */

.logo {
 
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    font-family: Serifas Elegantes;
    font-weight: 100;
  }

.navbar {
    background-color: #303141;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
      position: fixed; /* Fijo para que siempre esté visible */
      top: 0; /* Alinear al top */
      z-index: 1000; 
  
  
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav1-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav1-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 12px;
  }
  
  
  .nav-links a:hover {
    color: #bebebe; /* Color al pasar el mouse */
  }
  
  .nav1-links a {
    color: #fcfcfc;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 12px;
  }
  
  
  .nav1-links a:hover {
    color: #dadada; /* Color al pasar el mouse */
  }
  
  .cart {
    margin-left: auto; /* Asegura que el carrito esté a la derecha */
    font-size: 16px;
  }
  
  .sign-in-button {
    background-color: #39E29D; /* Color verde */
    color: #303141;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: flex; /* Usar flexbox para alinear items */
    align-items: center; /* Alinear verticalmente */
    transition: background-color 0.3s;
  }
  
  .sign-in-button:hover {
    background-color: #32be86; /* Color al pasar el mouse */
  }
  
  .sign-in-button:focus {
    outline: none ; /* Color al pasar el mouse */
  }
  
  .sign-in-button .icon {
    margin-left: 5px; /* Espacio entre el texto y el ícono */
    display: flex; /* Asegura que el ícono esté alineado */
    align-items: center; /* Alinear verticalmente */
  }
  
  
  
  
  /* Footer */
  
  .footer {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #323344;
    color: white;
    width: 100%;
    position: absolute;
    height: 45%;
    bottom: -100%; /* Alinear al top */
   
  }
  
  .footer-container {
     /* Color de fondo */
    color: white; /* Color del texto */
    padding: 20px;
    width: 100%;
    height: 23%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between; /* Espacio entre secciones */
    flex-wrap: wrap; /* Permite que las secciones se acomoden en varias filas si es necesario */
  }
  
  .footer-section {
    flex: 1; /* Cada sección ocupa un espacio igual */
    min-width: 150px; /* Ancho mínimo para cada sección */
    margin: 10px; /* Espaciado entre secciones */
  }
  
  .footer-section h4 {
    margin-bottom: 10px; /* Espaciado inferior para los títulos */
  }
  
  .footer-section ul {
    list-style-type: none; /* Eliminar los puntos de la lista */
    padding: 0; /* Eliminar padding */
  }
  
  .footer-section li {
    margin: 5px 0; /* Espaciado entre elementos de la lista */
  }
  
  .social-icons {
    display: flex; /* Usar flexbox para alinear íconos sociales */
    gap: 10px; /* Espaciado entre íconos */
  }
  
  .footer-bottom {
    text-align: center; /* Centrar el texto del pie de página */
    margin-top: 20px; /* Espaciado superior */
  }
  