* {
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto */
}

#root {
  margin: 0; /* Eliminar el margen para ocupar todo el espacio */
  padding: 0; /* Eliminar el padding para ocupar todo el espacio */
  width: 100%; /* Asegurarte de que el contenedor ocupe el 100% del ancho */
  display: flex;
 
  background-repeat: no-repeat;
  
}






.body2{
  width: 200%;
  align-items: center;
  align-content: center;
  background-color: #15161d;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover ;

}


body, html {
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 0; /* Eliminar padding predeterminado */

  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover ;
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
  
}












